article {
  font-size: 0.875rem;
}
article header h3 {
  font-family: var(--app-font-family-display);
  font-size: 1.5rem;
  line-height: 1.2;
  padding: 0;
  margin: 0.25rem 0;
  text-transform: uppercase;
  color: var(--pico-primary);
}
article h4 {
  font-size: 1.125rem;
}

.dock {
  display: inline-flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 1rem;
}
.dock__item {
  border: 1.5rem solid var(--pico-color-primary);
  margin: 0;
  border-bottom: 2px solid transparent;
  border-radius: 0;
  padding: 0.5rem 0.75rem;
  background: transparent;
  color: var(--pico-muted-color);
}
.dock__item.is-active {
  /* border: 4px dashed red;
  border-bottom-color: var(--pico-primary);
  color: var(--pico-primary-color); */
}
